<!DOCTYPE html>
<html lang="en">
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
<head>
    <meta charset="UTF-8">
    <title>Alert/Post Dashboard</title>
</head>
<body>
<h1><form action="/logout" method="post" id="logout">
    <button type="submit">Logout</button>
</form></h1>
<div style="width: 500px; float:left; height:200px; background: grey; margin:20px">Add Post
<div>
<form action="/addpost" method="post" id="post">
    <input type="text" placeholder="Subject or Summary goes here" name="subject"/><br>
    <textarea name="content" rows="10" cols="50" placeholder="Enter content here"></textarea><br>
    <button type="submit">Submit Post</button>
</form>

</div>
</div>




<br>
<div style="float: left">All Posts

<div class="container">
    <div class="wrapper">
    <div class="buttonH">
        {{#showPrev}}

        <a href="/home?page={{prevPage}}"><button>Prev</button></a>

        {{/showPrev}}

        {{#showNext}}
        <a href="/home?page={{nextPage}}"><button>Next</button></a>

        {{/showNext}}

        </div>
        </div>
    </div>
    <br>
    <div>
<table>
    <tr>
        <th>Post Author</th>
        <th>Subject</th>
        <th>Content(Partial)</th>
        <th>Delete</th>
        <th>Resend Text Message</th>
    </tr>
    {{#posts}}
    <tr>
        <td>{{#user}}{{name}}{{/user}}</td>
        <td>{{subject}}</td>
        <td>{{content}}</td>
        <td>
            <form action="/delete-post" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form action="/resend-post" method="post">
                <input type="hidden" value="{{id}}" name="id"/>
                <button type="submit">Resend Txt Message</button>
            </form>
        </td>

    </tr>
    {{/posts}}
</table>
</div>
<!--<script src="/js/jquery-3.1.1.js"></script>-->
<!--<script src="/js/main.js"></script>-->


</body>
</html>